

<link href="~/Content/css/style-under.css" rel="stylesheet" />

<div class="warning-content">

    <fieldset class="bocrud-subgroup" style="padding: 10px !important;background-color: white !important;">
        <h1>زیـرسـیسـتم درحـال پیـاده سـازی </h1>
        <div id="mid">
            <p>
                <img src="~/Content/images/settings-icon.png" id="image" />
                <img src="~/Content/images/settings-icon.png" id="image2" />
            </p>
        </div>

        <p>
            زیـرسـیسـتم مورد نظر در دست ساخت می باشد <br />
            اماجای نگرانی نیست، می توانید با مدیر در ارتباط باشید
        </p>
        <p class="info">
            FrameworkDev@Isfahan.Ir
            <br>
            031-36617325-7 <br />
        <p style="direction:ltr;">
            داخلی:282-265
        <p>

        </p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-default" role="button">خانه</a>
    </fieldset>

</div>

<script src="/Views/UnderConstruction/UnderConstructionView.js"></script>