<footer class="main-footer navbar-fixed-bottom" style="max-height:35px; padding:3px 10px;">
    <div class="pull-left hidden-xs">
        <a href="/Home/About">نسخه @ViewContext.Controller.GetType().Assembly.GetName().Version</a>
    </div>
</footer>
