@model object

@Html.TextBoxFor(model => model, new { @class = "input100", type = "password", @placeholder = @Html.DisplayNameFor(model => model) })
<i id="show-password" for="@Html.NameFor(model => model)" class="fa fa-eye" style="float:left"></i>
<span class="focus-input100"></span>
<span class="symbol-input100">
    <i class="fa fa-lock" aria-hidden="true"></i>
</span>
