@model object

@Html.TextBoxFor(model => model, new { @class = "input100", @placeholder = @Html.DisplayNameFor(model => model) })
<span class="focus-input100"></span>
<span class="symbol-input100">
    <i class="fa fa-user" aria-hidden="true"></i>
</span>