/**=============================== fonts =====================================**/
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('eot/IRANSansWeb.Bold.eot');
    src: url('eot/IRANSansWeb.Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff2/IRANSansWeb.Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb.Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb.Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('eot/IRANSansWeb.Medium.eot');
    src: url('eot/IRANSansWeb.Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff2/IRANSansWeb.Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb.Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb.Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('eot/IRANSansWeb.Light.eot');
    src: url('eot/IRANSansWeb.Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff2/IRANSansWeb.Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb.Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb.Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('eot/IRANSansWeb.UltraLight.eot');
    src: url('eot/IRANSansWeb.UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff2/IRANSansWeb.UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb.UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb.UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('eot/IRANSansWeb.eot');
    src: url('eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('ttf/IRANSansWeb.ttf') format('truetype');
}
